<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>team1Proj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--  黄赛servlet -->
  <servlet>
    <description></description>
    <display-name>Tb_userServlet</display-name>
    <servlet-name>Tb_userServlet</servlet-name>
    <servlet-class>com.team1.huangsai.servlet.Tb_userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tb_userServlet</servlet-name>
    <url-pattern>/Property</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tb_reportServlet</display-name>
    <servlet-name>Tb_reportServlet</servlet-name>
    <servlet-class>com.team1.huangsai.servlet.Tb_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tb_reportServlet</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  
  
  <!--  刘志峰servlet -->
  <servlet>
    <description></description>
    <display-name>LzfServlet</display-name>
    <servlet-name>LzfServlet</servlet-name>
    <servlet-class>com.team1.liuzhifeng.servlet.LzfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LzfServlet</servlet-name>
    <url-pattern>/lzf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarStallServlet</display-name>
    <servlet-name>CarStallServlet</servlet-name>
    <servlet-class>com.team1.liuzhifeng.servlet.CarStallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarStallServlet</servlet-name>
    <url-pattern>/carstall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplainServlet</display-name>
    <servlet-name>ComplainServlet</servlet-name>
    <servlet-class>com.team1.liuzhifeng.servlet.ComplainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplainServlet</servlet-name>
    <url-pattern>/complain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayChart</display-name>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tb_feeServlet</display-name>
    <servlet-name>Tb_feeServlet</servlet-name>
    <servlet-class>com.team1.huangsai.servlet.Tb_feeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tb_feeServlet</servlet-name>
    <url-pattern>/fee</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.huang.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/public/*</url-pattern>
  </filter-mapping>
   <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
 <!--  梁晓磊servlet -->
  <servlet>
    <description></description>
    <display-name>Userservlet</display-name>
    <servlet-name>Userservlet</servlet-name>
    <servlet-class>com.team1.liangxiaolei.servlet.Userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userservlet</servlet-name>
    <url-pattern>/userservlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>TbusercostServlet</display-name>
    <servlet-name>TbusercostServlet</servlet-name>
    <servlet-class>com.team1.liangxiaolei.servlet.TbusercostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TbusercostServlet</servlet-name>
    <url-pattern>/usercost</url-pattern>
  </servlet-mapping>
  
</web-app>